<div class="row">
    <div class="col-xs-12">
  
      <form [formGroup]="form" (ngSubmit)="operar()">
  
        <div class="row" [hidden]="true">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="id">ID</label>
              <input type="text" id="id" class="form-control" name="id" required formControlName="id">
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" id="name" class="form-control" name="name" required formControlName="name">
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="image">Imagen URL</label>
              <input type="text" id="image" class="form-control" name="image" required formControlName="image" #url>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-xs-12">
            <img [src]="url.value" class="img-responsive" width="250" height="250">
          </div>
        </div>
  
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="address">Direccion</label>
              <input type="text" id="address" class="form-control" name="address" required formControlName="address">
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-success" [disabled]="form.invalid">Aceptar</button>
            <button type="button" class="btn btn-danger" routerLink="/miperfil">Cancelar</button>
          </div>
        </div>
  
      </form>
    </div>
  </div>